body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.flexible{
    display: flex;
    padding-left: 7%;
}

.mama{
    width: 50%;
   
}
.mama img{
    width: 80%;
}
.first-color{

    color: orange;

}
.button{
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    background-image: linear-gradient( orange,lightblue);
}
.top-banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}
.middle-banner{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.tuihamudi{
    color: orange;
}
.salababu{
    width: 80%;
}
.area{
    box-shadow: 20px 20px 60px gray;
    width: 40%;
   padding-left: 20px;
  margin-right: 10%;
}
.expert{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}
.areas{
    border-left: 10px solid tomato;
    margin-left: -1.5%;
}
.areas2{
    border-left: 10px solid;
    border-image: linear-gradient(blue,lightblue);
    border-image-slice: 1;
}
footer p{
    margin-top: 100px;
    text-align: center;
    opacity: 0.8;
}
p{
    opacity: 0.8;
}